/*
  Name:    Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  Formats the display of the information on the item in the cart in a manner similar to the
  all items list view display but optimized for the individual card.
*/

body > div {
  text-align: right;
}

article {
  display: flex;
  align-items: end;
  background-color: gainsboro;
  margin: 25px 0;
  padding: 25px;
  height: 200px;
}

div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

div.text {
  margin-left: 25px;
}
