/*
  Name:    Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  Formats the list of previous transactions in a list view that prioritizes the ease of
  viewing each individual card.
  */

article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: gainsboro;
  margin: 25px 0;
  padding: 15px;
  min-height: 200px;
}

article > div {
  padding: 5px 10px;
}

div.order p {
  margin: 0;
}

div.item {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: auto;
}

div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

div.text {
  margin-left: 25px;
}
