/*
  Name:    Daria Manguling
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  index.css landing page styles specific to index.html if needed
*/

div {
  position: relative;
}

div button {
  position: absolute;
  bottom: 50%;
  left: 10%;
  border: none;
  background-color: peachpuff;
  padding: 10px 30px 10px 30px;
}