/*
  Name:    Daria Manguling, Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  index.css landing page styles specific to index.html
*/

body {
  background-color: #F2F3F4;
}

nav {
  background-color:aqua;
}

input {
  border: none;
}