/*
  Name:    Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  Sets up formatting for grid and list views and the filters sidebar.

*/

/* sort */

body > div {
  text-align: right;
}

select {
  margin: 16px;
  margin-left: 0;
}

/* filter, items */

section {
  display: flex;
  flex-direction: row;
}

section#filters {
  flex-direction: column;
  margin: 10px;
  width: 18%;
}

section#items {
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 82%;
}

/* items default, grid-view */

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  margin: 10px;
  padding: 25px 25px 0;
  width: 150px;
  height: 260px;
}

div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

img {
  max-width: 150px;
  max-height: 150px;
}

div.text {
  justify-content: end;
}

div.line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
}

/* items specific list-view */

section#items.list-view article {
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  margin: 12.5px 0;
  padding: 25px;
  width: 100%;
  height: 150px;
}

section#items.list-view div.text {
  margin-left: 25px;
}
