/*
  Name:    Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  list.css styles specific to list.html
*/

body > div {
  text-align: right;
}

section {
  display: flex;
  flex-direction: row;
}

section#filters {
  flex-direction: column;
  margin: 10px;
  width: 18%;
}

section#items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 82%;
}

select {
  margin: 16px 0%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  width: 150px;
  margin: 10px;
  padding: 25px 25px 0px;
}

div.img {
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 150px;
  max-height: 150px;
}

div.line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
}

/* div.img a {
  white-space: normal;
} */
