body > div {
  text-align: right;
}

section {
  display: flex;
  flex-direction: row;
}

section#filters {
  flex-direction: column;
  margin: 10px;
  width: 18%;
}

section#items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 82%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 25px 0px 0px;
  background-color: gainsboro;
}

img {
  width: 150px;
  height: 150px;
}

section.line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
}

select {
  margin: 16px 0%;
}
