/*
  Name:    Daria Manguling, Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG

  styles.css landing page general styles
*/

body {
  background-color: #F2F3F4;
  margin: 90px 16% 0%;
  font-family: "Titillium Web", "arial", sans-serif;
}

nav {
  background-color: peachpuff;
  margin: 0px;
  padding: 10px;
  height: 40px;
  text-align: right;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
}

nav input {
  width: 25%;
  height: 40px;
  margin-right: 25%;
  padding-left: 10px;
  border: none;
}

nav a {
  padding: 0px 2%;
}

footer {
  background-color: lightpink;
  margin-top: 150px;
  padding: 30px;
  text-align: right;
  position: absolute;
  width: 100%;
  right: 0;
}
