/*
  Name:    Daria Manguling, Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG, Allison and Marina

  This is the styles.css for all pages of the anime merch ecommerce website. It provides
  the general styling for all pages for uniformity. The theme is peach and light pink.
*/

/*
  Heidi Wang
  General styles for all page views.
*/

/* to hide page sections */

.hidden {
  display: none;
}

body {
  /* background-color: #F2F3F4; */
  margin: 90px 16% 0%;
  font-family: "Titillium Web", "Arial", "Helvetica", sans-serif;
}

a:link, a:visited {
  /* color: #3D52A0; */
  color: #000000;
  text-decoration: none;
}

::selection {
  background-color: #ADBBDA;
}

/* nav */

nav {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  background-color: #3D52A0;
  color: #EDE8F5;
  margin: 0px;
  padding: 10px;
  height: 40px;
  user-select: none;
}

nav div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}

nav input {
  width: 50%;
  height: 40px;
  margin: 0% 2% 0% 10%;
  padding-left: 10px;
  border: none;
}

nav h1, nav p {
  cursor: pointer;
  white-space: nowrap;
}

nav h1 {
  display: inline;
  margin: 0;
}

nav p {
  padding: 0 2%;
}

/* for login page title */
nav a:link, nav a:visited {
  color: #EDE8F5;
}

/* footer */

footer {
  position: absolute;
  width: 100%;
  right: 0;
  background-color: #ADBBDA;
  margin-top: 150px;
  padding: 30px;
  text-align: right;
}

/*
  Heidi Wang
  cart
  Formats the display of the information on the item in the cart
  in a list view display optimized for the individual card.

  history
  Formats the list of previous transactions in a list view
  that prioritizes the ease of viewing each individual card.

  items
  Sets up formatting for grid and list layouts to display all items and a filters sidebar.
*/

/* in all 3, top right menu/message */
section#cart > div, section#history > div, section#items > div {
  text-align: right;
}

/* in items view, dropdown menus for sorting options */
section#items > div > select {
  margin: 16px;
  margin-left: 0;
}

/* in items view, separating the sidebar for filtering and main section for displaying the list */

section#items > section {
  display: flex;
  flex-direction: row;
}

section#items > section > section#filters-container {
  margin: 10px;
  width: 18%;
}

section#filters-container > div {
  margin-bottom: 10px;
}

section#items > section > section#items-container {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
}

/* item cards */

section#cart-container > article, section#history-container > article {
  display: flex;
  align-items: center;
  background-color: #EDE8F5;
  margin: 15px 0;
  padding: 25px;
}

section#items-container article {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EDE8F5;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

section#items-container.grid-layout article {
  flex-direction: column;
  background-color: unset;
  margin: 5px 5px 0 0;
  padding: 0 5px 0;
  width: 150px;
  /* height: 260px; */
}

/* in an item, the img */

div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

section#items div.img {
  padding: 5px;
  width: 150px;
  height: 150px;
}

div.img img {
  max-width: 200px;
  max-height: 200px;
}

section#items div.img img {
  max-width: 150px;
  max-height: 150px;
}

/* in an item, the text */

div.text {
  margin-left: 25px;
}

section.grid-layout div.text {
  margin-left: unset;
  max-width: 150px;
}

section#cart p, section#history p, section#items p {
  margin: 0;
}

div.text p.listing-link:hover {
  cursor: pointer;
}

/*
  Daria Manguling
  index
  This is the styling for the index, the landing page, of our anime ecommerce
  website. This mainly helps with page layout and maintaining the website's white and
  peach with black text aesthetic.
*/

#banner {
  background-image: url('imgs/xie-lian-nendoroid.jpeg');
  height: 500px;
}

section#index figure {
  flex-flow: column;
}

section#index figcaption {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

#banner button {
  left: 70px;
  border: none;
  padding: 10px 30px 10px 30px;
  margin-top: 100px;
  margin-left: 125px;
}

section#index figcaption, section#index section button {
  background-color: peachpuff;
}

section#index section a:link, section#index section a:visited {
  color: black;
  text-decoration: none;
}

section#index button:hover, section#index figcaption:hover {
  background: pink;
}

section#index #secondary, section#index figure {
  display: flex;
}

section#index #secondary img {
  width: 300px;
}

/*
  Daria Manguling
  product
  This is the specific styles for the product page.
*/

#product img {
  width: 450px;
  margin-right: 40px;
}

#prod-listing h1 {
  font-size: 40px;
}

#prod-listing button {
  padding: 15px;
  border: none;
  background-color: #AFD9F8;
}

#prod-listing, #product #write-review {
  display: flex;
}

#product .hidden {
  display: none;
}

#product #write-review {
  flex-direction: column;
  align-items: baseline;
}

#view-prod-err {
  font-size: 50px;
}
