/*
  Name:    Daria Manguling, Heidi Wang
  Date:    2024 05 05 Sun
  Section: CSE 154 AG, Allison and Marina

  This is the styles.css for all pages of the anime merch ecommerce website. It provides
  the general styling for all pages for uniformity. The theme is peach and light pink.
*/

/*
  Heidi Wang
  General styles for all page views.
*/

/* to hide page sections */

.hidden {
  display: none;
}

body {
  /* background-color: #F2F3F4; */
  margin: 90px 16% 0%;
  font-family: "Titillium Web", "Arial", "Helvetica", sans-serif;
}

a:link, a:visited {
  color: #3d52a0;
  text-decoration: none;
}

::selection {
  background-color: hsl(37, 74%, 50%);
}

/* nav */

nav {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  background-color: #3d52a0;
  color: #ede8f5;
  margin: 0px;
  padding: 10px;
  height: 40px;
  user-select: none;
}

nav div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}

nav input {
  width: 50%;
  height: 40px;
  margin: 0% 10%;
  padding-left: 10px;
  border: none;
}

nav h1, nav p {
  cursor: pointer;
}

nav h1 {
  display: inline;
  margin: 0;
}

nav p {
  padding: 0 2%;
}

/* footer */

footer {
  position: absolute;
  width: 100%;
  right: 0;
  background-color: #adbbda;
  margin-top: 150px;
  padding: 30px;
  text-align: right;
}

/*
  Daria Manguling
  index
  This is the styling for the index, the landing page, of our anime ecommerce
  website. This mainly helps with page layout and maintaining the website's white and
  peach with black text aesthetic.
*/

section#index section > img {
  position: relative;
}

section#index figure {
  flex-flow: column;
}

section#index figcaption {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

section#index section button {
  position: absolute;
  bottom: 50%;
  left: 20%;
  border: none;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

section#index figcaption, section#index section button {
  background-color: peachpuff;
}

section#index section a:link, section#index section a:visited {
  color: black;
  text-decoration: none;
}

section#index button:hover, section#index figcaption:hover {
  background: pink;
}

section#index #secondary, section#index figure {
  display: flex;
}

section#index #secondary img {
  width: 300px;
}

/*
  Daria Manguling
  product
  This is the specific styles for the product page.
*/

section#product img {
  width: 450px;
  margin-right: 40px;
}

section#product #product-listing, section#product #write-review {
  display: flex;
}

section#product .hidden {
  display: none;
}

section#product #write-review {
  flex-direction: column;
  align-items: baseline;
}

/*
  Heidi Wang
  cart
  Formats the display of the information on the item in the cart in a manner similar to the
  all items list view display but optimized for the individual card.
*/

section#cart > div {
  text-align: right;
}

section#cart article {
  display: flex;
  align-items: end;
  background-color: #ede8f5;
  margin: 25px 0;
  padding: 25px;
  height: 200px;
}

section#cart div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

section#cart img {
  max-width: 200px;
  max-height: 200px;
}

section#cart div.text {
  margin-left: 25px;
}

/*
  Heidi Wang
  history
  Formats the list of previous transactions in a list view that prioritizes the ease of
  viewing each individual card.
*/

section#history > div {
  text-align: right;
}

section#history section > article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #ede8f5;
  margin: 25px 0;
  padding: 15px;
  min-height: 200px;
}

section#history article > div {
  padding: 5px 10px;
}

section#history div.order p {
  margin: 0;
}

section#history article article {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: auto;
}

section#history div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

section#history img {
  max-width: 200px;
  max-height: 200px;
}

section#history div.text {
  margin-left: 25px;
}

/*
  Heidi Wang
  items
  Sets up formatting for grid and list views and the filters sidebar.
*/

/* sort */

section#items > div {
  text-align: right;
}

section#items select {
  margin: 16px;
  margin-left: 0;
}

/* filter, items */

section#items section {
  display: flex;
  flex-direction: row;
}

section#items section#filters-container {
  flex-direction: column;
  margin: 10px;
  width: 18%;
}

section#items section#items-container {
  justify-content: start;
  flex-wrap: wrap;
  width: 82%;
}

/* items default, grid-view */

section#items article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
  padding: 0;
  width: 150px;
  height: 240px;
}

section#items div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede8f5;
  padding: 5px;
  width: 150px;
  height: 150px;
}

section#items img {
  max-width: 150px;
  max-height: 150px;
}

section#items div.text {
  flex-direction: column;
  justify-content: end;
  height: 80px;
  width: 150px;
}

section#items a {
  font-size: 80%;
  font-family: "Arial", "Helvetica", sans-serif;
}

section#items p {
  margin: 0;
}

/* items specific list-layout */

section#items section#items-container.list-layout article {
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  margin: 12.5px 0;
  padding: 25px;
  width: 100%;
  height: 150px;
}

section#items section#items-container.list-layout div.text {
  margin-left: 25px;
}
